@{
    ViewData["Title"] = "Home Page";
}

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    Here goes page content...
</div>

<!-- end:: Content -->